body {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-color: antiquewhite;
    font-family: 'Lexend Mega', sans-serif;
}

h1 {
    margin-top: 3vw;
    text-align: center;
    font-size: 2vw;
    color: darkgrey;
}

.cardholder {
    display: flex;
    position: relative;
    left: 18vw;
    width: 60vw;
    height: 60vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: transparent;
    margin-top: -3vw;
}

.card {
    display: flex;
    width: 22%;
    height: 22%;
    padding: 1%;
    margin: 1%;
    background-color: aliceblue;
    color: darkorange;
    border-radius: 1vw;
    text-align: center;
    font-size: 1vw;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d; /* required by prop backface-visibility */
    align-items: center;
    justify-content: center;
    perspective: 1000px;
    /*flex-grow: 1;*/
}

.card:hover {
    transform: rotateY(180deg);
}

.front_card,
.back_card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_card {
    z-index: 2;
    backface-visibility: hidden;
}

.card:hover .front_card {
    visibility: hidden;
    backface-visibility: hidden;
}

.back_card {
    color: blue;
    visibility: hidden;
    z-index: -1;
}

.card:hover .back_card {
    visibility: visible;
    backface-visibility: visible;
    transform: rotateY(180deg);
    color: deepskyblue;
}

.card_text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
