body {
    background-image: url("https://stepik.org/media/attachments/lesson/374893/world.png");
    background-color: antiquewhite;
    font-family: 'Lexend Mega', sans-serif;
}

h1 {
    text-align: center;
    font-size: 2vw;
    color: darkgrey;
}

.cardholder {
    display: flex;
    position: relative;
    left: 30vw;
    width: 40vw;
    height: 40vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    align-content: space-around;
    background-color: transparent;
}

.card {
    display: flex;
    width: 20%;
    height: 20%;
    padding: 2%;
    margin: 2%;
    background-color: aliceblue;
    color: darkorange;
    border-radius: 1vw;
    text-align: center;
    font-size: 1vw;

    position: relative;
    z-index: 5;
    transition: all 1s linear;
    transform-style: preserve-3d; /* required by prop backface-visibility */
    align-items: center;
    justify-content: center;
    perspective: 1000px;
}
.sub_card {

}

.front_card,
.back_card {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.front_card {
    z-index: 2;
    backface-visibility: hidden;
}

p {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back_card {
    color: orangered;
    background-color: bisque;
    visibility: hidden;
    z-index: -1;
}

.card:hover {
    transform: rotateY(180deg);
}

.card:hover .front_card {
    visibility: hidden;
}

.card:hover .back_card {
    visibility: visible;
    backface-visibility: visible;
    /*transform: rotateY(180deg);*/
}

.card:hover p {
    visibility: visible;
    backface-visibility: visible;
    transform: rotateY(-180deg);
}

.long_name {
    font-size: 1vw;
}